<!DOCTYPE html>
<html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>
          <%=@comment.title%>
        </h1>
        <p>
          <%=@comment.fio%>
        </p>
        <p>
          <%=@comment.body%>
        </p>
    </body>
</html>