<div class="well index-page-content patch">
  <%= render :partial => "catalog/category", :collection => @categories %>
</div>

<script type="text/javascript">
    $(document).ready(function(){
//        $('.img-polaroid').on('click', function(){
//           $(this).parent().children('no-disp').modal();
//        });
    });
</script>
