body{
  padding-top: 10px;
  background: url(image_path('background/background.jpg')) repeat;
}

.content-holder{
  border-left: 2px solid #966;
  border-right: 2px solid #966;
}

.horizontal-divider{
  height: 5px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #966;
}

.content{
  padding: 10px;
  background-color: #fff;
}

.index-page-container{
  color: #955;
}

.index-page-container p{
  text-align: justify;
}



