.no-disp{
  display: none;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url(image_path('background/background1.jpg')) repeat;
}
.sidebar-nav {
  padding: 9px 0;
}

.navbar-custom{
  background-image: linear-gradient(to bottom, #996666, #993333) !important;
  color: #ffffff !important;
  border-color: #993333 !important;
}

.nav-header-custom{
  display: inline !important;
}

.brand-custom{
  color: #ffffff !important;
}

.contact-item-value, .news-item-body{
  color: #933 !important;
  font-family: "Helvetica";
  //font-weight: bold;
  //text-decoration: none;
}

.news-item{
  margin-top: 5px;
  margin-bottom: 10px;
}

.news-item-date{
  font-size: 9px !important;
}

.news-item-title{
  font-size: 12px !important;
}

.index-page-content p{
  text-align: justify;
}

.index-image{
  float: left;
  margin-right: 10px;
}

.footer{
  height: 18px;
  padding: 3px 0 3px 10px;
  color: #fff;
  font-size: 12px;
}

.text-field{
  width: 90%;
}

.alert-success-custom{
  overflow: hidden;
  clear: both;
}

.patch{
  //background-image: url(image_path('background/fabric-21.jpg'));
}

.btn-custom{
  background-color: #994444;
  background-image: linear-gradient(to bottom, #996666, #993333);
}

.btn-custom:hover{
  background-color: #993333 !important;
  background-image: linear-gradient(to bottom, #995555, #991111);
}

.label-custom{
  white-space: normal;
}

.modal{
  width: 400px !important;
}

.modal.fade.in{
  top: 40%;
}

.modal-body{
  height: 550px !important;
  max-height: 550px !important;
}