<div class="index-page-container">
    <h3>Вязаные игрушки Darya.Toys в Киеве</h3>

    <h4>Обо мне</h4>

    <p>
       Вязаные игрушки -это подарки, которые приятно получать и еще приятнее дарить тем,
       кому желаете передать самые тёплые чувства.
    </p>

    <p>
        Здравствуйте! Меня зовут Дарья (Darya.Toys).
    </p>

    <p>
        Вязать крючком и спицами в детстве меня научила мама (за что ей огромное спасибо).
        Но сам процесс меня как-то не вдохновлял, не хватало усидчивости и терпения.
        Позже я пробовала вязать куклам платья, в основном крючком.
        Не могу сказать, что эти платья были идеальными, но мне они казались достаточно красивыми,
        все же творчество взяло надо мной верх. Затем для пробы были связаны носки.
        Бабушка осталась довольна таким теплым  и нужным подарком внучки.
    </p>

    <p>
        Со временем я вязала себе кофточки. Нужно было не отставать от коллег-мастериц на работе
        и соответствовать статусу «рукодельница» )))
    </p>

    <p>
        Не так давно я открыла для себя вязание игрушек. Просторы Интернета сейчас пестрят разными описаниями и техниками,
        будь то вязание крючком, или спицами. Однако у вязаных игрушек собственный характер,
        отражающий индивидуальность своего автора, частичка его души.
    </p>

    <p>
        Мои игрушки связаны с душой. В каждую я вложила частичку себя.
    </p>

    <p>
        Приглашаю Вас в волшебный мир игрушек Darya.Toys
    </p>

    <br/>

    <h4>
      Немного истории...
    </h4>

    <p>
        Самые древние изображения вязаных изделий находили еще в Древнем Египте и даже в застывшей вулканической лаве,
        разрушившей Помпею в 79 году н.э.
    </p>

    <p>
        Скорее всего, следует считать, что первоистоком появления вязания было плетение узлов,
        известное еще с Древней Руси и соединяющееся в те времена с колдовством, предсказаниями
        и разгадыванием снов - тогда еще не был изобретен сонник и сны толковали, развязывая узелки.
        И только впоследствии из этого примитивного плетения люди научились создавать незамысловатые вещи,
        используя наиболее простые техники.
    <p>

    <p>
        Самыми первыми вязаными изделиями были предметы первой необходимости: чулки и варежки.
        И лишь затем появились более сложные предметы одежды: капюшоны, береты, кофты.
        Для работы использовались только хлопчатобумажные нитки. Изделия были предельно простыми,
        однако уже в Х веке находили чулки с нанесенным на них текстом на древнеарабском языке.
    </p>

    <p>
        В страны Европы вязание пришло благодаря христианам-миссионерам.
        Их связанные вещи привлекали внимание окружающих и вызывали большой интерес.
        Постепенно этим искусством овладели местные рукодельницы, и уже к ХII веку многие домохозяйки
        вязали одежду для всей семьи.
    </p>

    <p>
        С наступлением ХV века вязаная одежда становится особенно популярной.
        В это время изготовление вещей из искусно переплетенных нитей становится уже промыслом,
        а не только домашней работой, создаются вязальные цеха, в которых работают исключительно мужчины,
        а в 1589 году был изобретен первый станок. С этого момента началась эра вязанных машинных изделий.
        Однако ценность связанных вручную вещей не только не стала меньше, но напротив возросла.
    </p>
</div>